* {
    margin: 0;
    border: none;
}

h1 {
    padding-top: 45px;
    color: #2a3a54;
    font-size: 55px;
}

.body {
    background-color: #90b1cf;
    text-align: center;
}

.container {
    padding-top: 23px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.game {
    height: 60vmin;
    width: 70vmin;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: rgb(229, 212, 241);
    color: #9295b7;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #2a3a54;
}

#reset, #new-btn {
    background-color: #2a3a54;
    color: rgb(229, 212, 241);
    border-radius: 0.7rem;
    font-size: 0.8rem;
    border: none;
    padding: 1rem;
}

#msg {
    font-size: 5vmin;
    color: #2a3a54;
}

.msg-container {
    padding-top: 23px;
    padding-bottom: 23px;
    height: 10vmin;
    padding-bottom: none;
}

.hide {
    display: none;
}
